* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
   background-image: url('html/media/2.png'); /* 실제 이미지 경로로 변경 */
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  display: flex;
  color: white;
}

.start-button {
  position: absolute;
  right: 40px;
  bottom: 60px;
  padding: 10px 28px;
  font-size: 1.1rem;
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
    text-decoration: none;
}

.back-button {
  position: absolute;
  left: 40px;
  top: 60px;
  padding: 10px 28px;
  font-size: 1.1rem;
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
    text-decoration: none;
}

@media screen and (orientation: portrait) {
  body::before {
    content: "가로 모드에서 최적화되어 있습니다. B기기를 돌려주세요.";
    white-space: pre;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    font-size: 1.5rem;
    z-index: 9999;
    padding: 2rem;
    box-sizing: border-box;
    text-align: center;
  }

  .intro,
  .background-image,
  .start-button {
    display: none !important;
  }
}
